!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Perfume JPN
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "Perfume,JPN,Japan,YouTube,iTunes,Aa-CHAN,NOCCHi,KASHIYUKA", :name => "keywords"}
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "css/bootstrap-responsive.css", :rel => "stylesheet"}
    %link{:href => "css/site.css", :rel => "stylesheet"}
    %script{:src => "js/ga.js", :type => "text/javascript"}
    / Le fav and touch icons
    -#%link{:href => "images/favicon.ico", :rel => "shortcut icon"}
    -#%link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    -#%link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    -#%link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    -#.navbar
      -#.navbar-inner
        -#.container
          -#%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            -#%span.icon-bar
            -#%span.icon-bar
            -#%span.icon-bar
          -#%a.brand{:href => "#"} PRFMJPN
          -#.nav-collapse
            -#%ul.nav
              -#%li
                -#%a{:href => "#about"} About
              -#%li
                -#%a{:href => "#contact"} Contact

    .container
      .hero-unit
        %h1 Perfume JPN
        %p just another fan site.

      .row
        .span6
          .well.white
            %h2 JPN Track list
            %ol
              %li The Opening
              %li Leser Beam (Album mix)
              %li Glitter (Album mix)
              %li Natural ni Koishite
              %li My Color
              %li Toki No Hari
              %li Nee
              %li Kasuka na Kaori
              %li 575
              %li Voice
              %li Kokoro no Sports
              %li Have a Stroll
              %li Fushizen na Girl
              %li Spice
            <a href="http://click.linksynergy.com/fs-bin/stat?id=WksWMgxlyPo&offerid=94348&type=3&subid=0&tmpid=2192&RD_PARM1=http%253A%252F%252Fitunes.apple.com%252Fnz%252Falbum%252Fjpn%252Fid505144796%253Fuo%253D4%2526partnerId%253D30" target="itunes_store">iTunes AVAILABLE! <img src="http://r.mzstatic.com/ja_jp/images/web/linkmaker/badge_itunes-sm.gif" alt="JPN - Perfume" style="border: 0;"/></a>
        .span6
          .well
            %h2 YouTube
            <iframe width="413" height="210" src="http://www.youtube.com/embed/CitSJRNVMMc?autoplay=1&loop=1&playlist=CitSJRNVMMc" frameborder="0" allowfullscreen></iframe>
            %h3 Other videos
            %p
              %a{:href => "http://youtu.be/9_ifx-Dmv9g"} "VOICE" PV
              \/
              %a{:href => "http://youtu.be/biMO46z_VSY"} "SPICE" PV
              \/
              %a{:href => "http://youtu.be/mP8hfGZvFhg"} "Polyrhythm" from LIVE DVD
              and more...
            %p.right
              &raquo;
              %a{:href => "http://www.youtube.com/perfume"} Perfume Official Channel

      -#.navbar
        -#.navbar-inner
          -#.container
            -#.nav-collapse
              -#%ul.nav
                -#%li.active
                  -#%a{:href => "#"} Home
                -#%li
                  -#%a{:href => "#about"} About

      .row
        .span6
          .well
            %h2 Perfume are
            %p
              Japanese girls' Techno-Pop Trio.
              %br
              Aa-CHAN, NOCCHi, KASHIYUKA.
              %br
              Known for their futuristic concept and creative dance performances.
              %br
              Sound produced by Yasutaka Nakata (
              %a{:href => "http://www.capsule-web.com/"} capsule
              ).

            %h2 JPN is
            %p
              Perfume's 4th album.
              %br
              Included 14 tracks.
              %br
              Released at Nov 30, 2011 in Japan.
              %br
              Released at Mar 6, 2012 worldwide.

            %h2 Links
            %ul
              %li
                %a{:href => "http://perfume-web.jp/"} Perfume Official Site
              %li
                %a{:href => "http://perfume-global.com/"} Perfume Global Site
              %li
                %a{:href => "http://beta.universal-music.co.jp/perfume"} Perfume Music Label Site
              %li
                %a{:href => "http://twitter.com/perfume_um"} Perfume Official Twitter
        .span6
          .well.gray
            %h2 On Sale
            <a href="http://www.amazon.co.jp/exec/obidos/ASIN/B005LA8VYG/11290804-22/ref=nosim/" name="amazletlink" target="_blank"><img src="http://ecx.images-amazon.com/images/I/41trbHhEgzL._SL160_.jpg" alt="JPN(初回限定盤)(DVD付)" style="border: none;" /></a>
            limited edition
            %br
            <a href="http://www.amazon.co.jp/exec/obidos/ASIN/B005LA8VZ0/11290804-22/ref=nosim/" name="amazletlink" target="_blank"><img src="http://ecx.images-amazon.com/images/I/41iLRckm9PL._SL160_.jpg" alt="JPN(通常盤)" style="border: none;" /></a>
            normal edition

      %hr

      %footer
        %p © ichihisa 2012
